Python: 3.9.2
Micro-manager: 2.0.1-20220725 (nightly build from 25 july 2022)
QTCreator: QT-unified version 4.4.1-online

Pip packages:
    PycoManager:
        Name: pycromanager
        Version: 0.18.3
        Summary: Open source microscope control using python
        Home-page: https://github.com/micro-manager/pycro-manager
        Author: Henry Pinkard
        Author-email: henry.pinkard@gmail.com
        Location: /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages
        Requires: dask, docstring-inheritance, numpy, pyzmq
        Required-by: 
    Pyserial:
        Name: pyserial
        Version: 3.5
        Summary: Python Serial Port Extension
        Home-page: https://github.com/pyserial/pyserial
        Author: Chris Liechti
        Author-email: cliechti@gmx.net
        License: BSD
        Location: /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages
        Requires: 
        Required-by: 
    PySide6:
        Name: PySide6
        Version: 6.3.1
        Summary: Python bindings for the Qt cross-platform application and UI framework
        Home-page: https://www.pyside.org
        Author: Qt for Python Team
        Author-email: pyside@qt-project.org
        License: LGPL
        Location: /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages
        Requires: PySide6-Addons, PySide6-Essentials, shiboken6
        Required-by: 